<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
Dashboard

<br>



<ul id="onlineUsers">
  <li>Kyle</li> <button id="startChat"> Start chat </button>
</ul>





<script>
 
 
 $( function() { // say the page has loaded correctly.
 
 


 
    
  // manually call the function to get the list of users
  getListOfUsers();
   
  $('#dialog').hide(); // hide the dialog when the app first starts.
    

} );
  
  





function getListOfUsers(){
    
    
    $.post( "/getListOfUsers", function( data ) {
       $( "#onlineUsers" ).html( data );
   });
    
    
    
}


</script>





    <div id="dialog" title="Chat Window">
    <div id="chattingWith"> </div>
      
      <textarea id="chatlog" name="chatlog" rows="4" cols="50">
      </textarea> <br>

       <input type="text" id="chatText" size="20"/> <button id="send">Send!</button>
    </div>



 


 

<script>

$( "#send" ).click(function() {
  
    // grab the chat log content
    var chatContent = $('#chatlog').val();
  
    // get the content from the textbox.
    var newText = 'Kyle:' + $('#chatText').val();

    var username = $('#chattingWith').html();
    
    
    console.log(username);
    
    
    
    
    
    
    // but the content into a database
    //jquery POST
 
    $.post( "/putInDB", { text: newText, username:username, me:'Kyle' })
    
    .done(function( data ) {
   
   
  });
    
    


   // set it into the box
    $('#chatlog').val(chatContent + '\n'+ newText);
    
    // clean the old text from input
    $('#chatText').val('');
    
    

});

function startChat(username){
  
  
  // update the chat log
  $('#chatlog').val(''); // wipe the chat clear
  $('#chatlog').val("starting chat... with "+username);
   

  // drop the username into the chattingWith div tag.
  // placeholder.   
  $('#chattingWith').html(username);  
  
  
  
  // show the dialog box  
  $( "#dialog").dialog({
  dialogClass: "no-close",
   width: 500,
  buttons: [
    {
      text: "OK",
      click: function() {
        $( this ).dialog( "close" );
      }
    }
  ]
});
 
    
 // start the timer
  setInterval(getLogs, 3000); // 3 seconds
}


// get the chat logs from the server for one
// individual user
function getLogs(){
    
    // grab the username who we are talking to.
    var username = $('#chattingWith').html();
    
    
    
    
    console.log("chatting with" + username);
    
    
    
     $.post( "/getChatText", {username:username})
    
    .done(function( data ) {
  

          console.log(data);
          // put the data into the chat log
          // inside our dialog.
          $('#chatlog').val(data);
   
  });
}

    
</script>

